<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/base.css" />
    {% block extra_css %}{% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <!-- Logo -->
        <div class="logo">
          <a href="/"> HeartScape</a>
        </div>

        <!-- Main Navigation -->
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="/quotes">Quotes</a></li>
          <li><a href="/mood-jar">Mood Jar</a></li>
          <li><a href="/mood-tracker">Mood Tracker</a></li>
        </ul>

        <!-- Authentication -->
        <ul class="auth-links">
          <li><a href="/sign-up">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {% block page_content %}
      {% endblock %}
    </main>

    <footer>
      &copy; 2026 HeartScape. All rights reserved.
    </footer>
  </body>
</html>
